@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #d1d5db;
  -webkit-text-fill-color: #d1d5db;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #191812 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

h2 {
  color: #4ade80;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 3rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

section {
  padding-top: 10rem;
}

h3 {
  color: #4ade80;
  font-weight: medium;
  font-size: 1.5rem;
  line-height: 2rem;
}
